.loginPageContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loginBox {
    padding: 20px;
    background-color: silver;
    border-radius: 5px;
}        

.title {
    text-align: center;
    font-weight: 500;
}

.loginForm {
    width: 100%;
    margin-top: 20px;
}

.form-group {
    border-bottom: 1px solid white;
    padding: 0 !important;
}

.form-label {
    font-weight: 100 !important;
}

.form-control {
    border: none;
    background-color: transparent;
}

.buttonArea {
    width: 100%;
    margin: 20px 0 10px;
    text-align: center;
}